h2= user.name.full

form(action='/user/edit-profile', method='POST')
  p
    label(for='name_first') First Name
    input(type='text', name='name_first')#name_first
    | Current: #{user.name.first}
  p
    label(for='name_last') Last Name
    input(type='text', name='name_last')#name_last
    | Current: #{user.name.last}
  p
    label(for='email') E-mail 
    input(type='text', name='email')#email
    | Current: #{user.email}
  p
    label(for='interests') Interests
    input(type='text', name='interests')#interests
    | Current: 
    each i in interests
      p= i.name
  p
    label(for='expertise') Expertise
    input(type='text', name='expertise')#expertise
    | Current:
    each e in expertise
      p= e.name
  p
    input(type='submit', value='Save Changes')
