!!!
html
  head
    title Cambyar
    link(rel='stylesheet', href='http://twitter.github.com/bootstrap/1.4.0/bootstrap.min.css')
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='http://ajax.googleapis.com/ajax/libs/jqueryui/1/themes/flick/jquery-ui.css')  
    link(rel='stylesheet', href='/tagit/css/jquery.tagit.css')
    link(rel='stylesheet', href='/tagit/css/tagit.ui-zendesk.css')
    script(src='http://ajax.googleapis.com/ajax/libs/jquery/1.4/jquery.min.js', type='text/javascript', charset='utf-8')
    script(src='http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.12/jquery-ui.min.js', type='text/javascript', charset='utf-8')
    script(src='/tagit/js/tagit.js', type='text/javascript', charset='utf-8')

  body
    .topbar
      .fill
        .container
          a(href='/').brand
            strong Cambyar
          ul.nav.secondary-nav
            if req.loggedIn                                                                      
              li
                if req.user.notifications > 0
                  a(href='/requests') #{req.user.notifications}
              li                                                                       
                img(src=email_hash + '?s=30')                                                          
              li
                a(href='/user/#{user.username}') #{utils.capitalize(user.username)}
              li                                                                              
                a(href='/logout', title='Leave us') Logout                                   
            else                                                                             
              li                                                                              
                a(href='/register?n='+enc_url, title='Registration Page') Register                      
              li
                a(href='/login?n='+enc_url, title='Login Page') Login                                   

    .container
      .content!= body

    footer.footer
      .container
        p Apptidudes will put stuff here
