if flash.context
  h2= flash.context[0]
else
  h2 Log in!

.errors                                                                          
  if typeof errors != 'undefined'                                                
    ul                                                                           
      each error in errors                                                       
        li= error 

form(action='/login', method='POST')
  p
    label(for='login') Username
    input(type='text', name=everyauth.password.loginFormFieldName)#login
  p
    label(for='password') Password
    input(type='password', name=everyauth.password.passwordFormFieldName)#password
  p
    input(type='hidden', name='next', value=next)
    input(type='submit', value='Submit')

