h2 Pending Requests

each r in pending
  p= r.message
  p
    a(href='/requests/action?a=accept&r=#{r.id}') Accept  
    a(href='/requests/action?a=remove&r=#{r.id}') Deny

h2 Lessions in Session

each r in in_session
  p= r.message
  p
    a(href='/requests/action?a=complete&r=#{r.id}') Complete
    a(href='/requests/action?a=stale&r=#{r.id}') Deny

    
