.row
  .span9.offset4
    .inside
      form(action='/search', method='GET')
        input(type='text', name='q').span7#search_bar
        input(type='submit', value='Search').btn.primary
      each lesson in lessons
        .lesson(onclick="location.href='/lessons/"+lesson._id+"';")   
          .row
            .search-left
              .search-img
                img(src=utils.gravatarURL(lesson.author.email)+'?s=70')
              .search-user
                strong
                  a(href="/user/"+lesson.author.username) #{utils.capitalize(lesson.author.username)}
            .search-right
              h3= lesson.title + ' '
                small
                  each t in lesson.tags
                    a(href='search?a=tag&q=' + t.name).taglink #{t.name}
              p= lesson.description
