if req.loggedIn && user.username == this_user.username
  .top-right
    a(href='/user/edit-profile/').btn.info Edit Profile

.page-header
  .inside
    h1
      | #{utils.capitalize(this_user.username)} (#{this_user.name.full})
.row
  .span4
    .inside
      img(src=gravatarURL+'?s=210', value=this_user.name.first).profile 
      if req.loggedIn && user.username == this_user.username
        .gravatar
          p 
            | We're using your email 
            em= user.email
            |  at
            a(href="http://gravatar.com") Gravatar!
            |  To change your profile picture click
            a(href="http://gravatar.com/emails") here.

      h2 Rating: #{rating}
      if req.loggedIn && user.username == this_user.username
        p
          a(href='/requested').btn Sent Requests 
  .span10
    .inside
      p= this_user.bio
      if lessons.length >=1 
        h2.bottombar Lessons
        each les in lessons
          .lesson
            .left-lesson-pane(onclick="location.href='/lessons/"+les._id+"';")   
              h3= les.title
              p= les.description
            .right-lesson-pane
              if req.loggedIn && user.username == this_user.username
                .vert-center
                  a(href="/lessons/edit?l="+les._id).btn.small.info Edit Lesson
                  a(href="/lessons/delete?l="+les._id).btn.small.danger#delete X
  .span2
    .inside
      h3.bottombar Interests
      p
        if interests.length == 0
          | None!
        else
          each interest in interests
            a(href="/search?a=tag&q="+interest.name).taglink #{interest.name} 
      h3.bottombar Expertise
      p
        if expertise.length == 0
          | None!
        else
          each subject in expertise
            a(href="/search?a=tag?q="+subject.name).taglink #{subject.name} 

script
  $(function(){
    $('#delete').click(function (){
        return confirm("Are you sure?")
    });

  });
